<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
</head>
<body>

    <a href="http://127.0.0.1:8000/employee/">Home</a>
    
    <h2>Create Employees</h2>
    <form action="createData/" method="post">
        {% csrf_token %}

        name: <input name="name">
        title: <input name="title">

        <input type="submit" value="create">
    </form>
</body>
</html>